body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  min-height:100%;
  margin:0;
  background-image: url("images/background2.png");
  background-size: cover;
}
header{
  position: fixed;
  z-index: 1;
  width: 100%;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color:  #333;
  color: white;
  height: 65px;
  padding: 20px ;
  font-weight:bolder;
  font-size:25px;
}
.wrapper {
  max-width: 100%;
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  font-family: 'Courier New', Courier, monospace;
}
.content{
  margin-top: 10%;
  text-align: center;
  font-size: x-large;
}
#image{
  margin-top: 7%;
  width: 30%;
  height: 30%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
#image:hover{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
#p1{
  text-align: center;
}
#hello:hover{
  color: red;
}
#name1:hover{
  color: green;
}
#p1:hover{
  color: blue;
}
#ploc:hover{
  color: red; 
}
#ploc:hover::after{
  content: ", City of Love";
}
#pbdy{
  color: green; 
}
#pbdy:hover::after{
  content: " am 25";
}
.about{
  max-width: 100%;
  height: 500px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 7%;
  align-items: center;
}
#p2{
  text-align: center;
  width: 80%;
  font-size: larger;
}
tr, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
#ab{
  font-weight: bolder;
}
#skills{
  margin-top: -2%;
  text-align: center;
}
.skillwrap {
  position: relative;
}
.skillwrap .skillcont {
  display: none;
  position: relative;
  bottom: 5%;
  left: 5%;
  right: 5%;
  color: white;
  background-color: black;
  padding: .5em;
  min-width: 10rem;
}
.skillwrap:hover .skillcont {
  display: block;
}
.projects{
  max-width: 100%;
  height: 800px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  font-family: 'Courier New', Courier, monospace;
}
#gallery{
  text-align: center;
  padding-top: 15%;
}
#mainimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.contacts{
  max-width: 100%;
  height: 500px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  font-family: 'Courier New', Courier, monospace;
  align-items: center;
  padding-top: 20%;
  margin-bottom: -10%;
}
.ilink{
  width: 50px;
  height: 50px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.ilink:hover{
  width: 100px;
  height: 100px;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
footer {
  position: relative;
  background-color: #333;
  color: #fff;
  margin-top: 8.7%;
  padding: 10px;
  text-align: center;
}
.logo{
  text-shadow: 2px 2px 4px #000000;
  color:white;
}
#logo1{
  position: absolute;
  width: 90px;
  height: 90px;
  margin-top: 6px;
}
#sname{
  position: relative;
  left: 40%;
}
/**hover on menu/nav bar**/
.menu li:hover{
  color:black;
  cursor:pointer;
}
/**menu to row and remove bullets**/
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/**spacing inbetween menu**/
.menu > li {
  margin: 0 20px;
  overflow: hidden;
}
/*Container for menu button  */
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu-toggle {
  display: none;
}
 /*Creating the menu button burger*/
 .menu-button,
 .menu-button::before,
 .menu-button::after {
   display: block;
   background-color: #fff;
   position: absolute;
   height: 6px;
   width: 32px;
   border-radius: 3px;
 }
 
 .menu-button::before {
   content: '';
   margin-top: -8px;
 }
 
 .menu-button::after {
   content: '';
   margin-top: 8px;
 }

 /*Adding Functionality to the Hamburger Menu with CSS*/
#menu-toggle:checked + .menu-button-container .menu-button::before {
 margin-top: 0px;
 transform: rotate(45deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
 background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
 margin-top: 0px;
/*transforms the hamburger icon into a cross*/
 transform: rotate(-45deg);
}

/* Making the navbar responsive by CSS Media Queries */
@media (max-width: 1100px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 104px;
    left: 0;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: baseline;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #9f9a9a;
    height: 30px;
    padding: 0.5em;
  }
  .menu > li {
    display: flex;
    justify-content: center;
    font-size: small;
    width: 30%;
    color: white;
    background-color: #333;
  }
  .wrapper{
    flex-direction: column;
  }
  .content{
    margin-top: -3%;
  }
  #image{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 30%;
  }
  .about{
    padding-top: 30%;
  }
  #gallery{
    padding-top: 60%;
  }
  .contacts{
    padding-top: 50%;
  }
}
@media only screen and (max-width: 600px) {
  #logo1{
    position: absolute;
    width: 60px;
    height: 60px;
    margin-top: 6px;
  }
  #sname{
    position: relative;
    font-size: smaller;
    left: 40%;
  }
  #gallery{
    padding-top: 100%;
  }
  .contacts{
    padding-top: 50%;
  }
}
@media only screen and (max-width: 450px) {
  #skills{
    margin-right: 20%;
    padding-left: 25%;
  }
  tr, td {
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #gallery{
    padding-top: 120%;
  }
  .contacts{
    padding-top: 65%;
  }
  footer{
    max-width: 100%;
  }
}

